{{ define "main" }}
<div class="container">

	<div class="p-4 p-md-5 mb-4 text-light text-center rounded bg-dark">
		<h1 class="text-white">{{ .Site.Params.homepage.title }}</h1>
		<p>{{ .Site.Params.homepage.description }}</p>
	</div>

	<h2 class="text-center mb-4">{{ .Site.Params.texts.latest_posts }}</h2>
	{{ if eq .Site.Params.homepage.template "boxes" }}
	<div class="row" id="latest-posts">
		{{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
		<div class="col-sm-4">
			<div class="card">
				<img src="{{ if .Params.thumbnail }}{{ .Params.thumbnail }}{{ else }}/placeholder.svg{{ end }}" class="card-img-top" alt="">
				<div class="card-body">
					<h5 class="card-title">{{ .Title }}</h5>
					{{ partial "date-muted" . }}
					<p class="card-text">{{ .Summary }}</p>
					<div class="row">
						<div class="col-md-6 d-flex align-items-center">
							{{ partial "tags" . }}
						</div>
						<div class="col-md-6 d-flex align-items-center">
							<a href="{{ .RelPermalink }}" class="btn btn-primary text-uppercase ms-auto">{{ .Site.Params.texts.read_more }} <i class="bi bi-chevron-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ end }}
	</div>
	{{ else if eq .Site.Params.homepage.template "list"}}
	<div id="latest-posts">
		{{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
			<div class="row my-4">
				<div class="col-md-4">
					<img src="{{ if .Params.thumbnail }}{{ .Params.thumbnail }}{{ else }}/placeholder.svg{{ end }}" class="img-fluid rounded-start" alt="">
				</div>
				<div class="col-md-8 py-2 d-flex flex-column justify-content-between">
					<div class="align-self-start">
						<h5 class="card-title">{{ .Title }}</h5>
						{{ partial "date-muted" . }}
						<p class="card-text">{{ .Summary }}</p>
					</div>
					<div class="align-self-end d-flex" style="width: 100%;">
						{{ partial "tags" . }}
						<a href="{{ .RelPermalink }}" class="btn btn-primary text-uppercase ms-auto">{{ .Site.Params.texts.read_more }} <i class="bi bi-chevron-right"></i></a>
					</div>
				</div>
			</div>
		{{ end }}
	</div>

	{{ else }}
	{{ errorf "Params.homepage.template has an invalid value. Refer to theme documentation to get a list of accepted values." }}
	{{ end }}
</div>
{{ end }}